# Terraform
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.csv
ingetion-user_cli-accessKeys.csv
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
*.docx
.env
terraform/*.backup
terraform/.idea/
generators/.DS_Store
.DS_Store
.env
